### Import Libraries

In [1]:
import configparser as configparser
import pyspark
from pyspark.sql import SparkSession
import pyspark.sql.functions as sf

## Parsing INI File

### Funtion: To parse INI file

In [2]:
def parse_ini(section: str) -> dict:
    """
    This function parses ini file for configuration details
    :param section: section to read from ini
    :return: Dictionary of config details
    """
    config = dict()
    parser = configparser.ConfigParser()
    parser.read("imdb_database.ini")
    if parser.has_section(section):
        config_items = parser.items(section)
        for item in config_items:
            config[item[0]] = item[1]
    return config

In [3]:
datasets = parse_ini("data")
datasets

{'namebasics': 'name.basics.tsv\\data.tsv',
 'titlebasics': 'title.basics.tsv\\data.tsv',
 'titlecrew': 'title.crew.tsv\\data.tsv',
 'titleprincipals': 'title.principals.tsv\\data.tsv',
 'titleratings': 'title.ratings.tsv\\data.tsv'}

In [4]:
spark = SparkSession.builder.master("local[1]").appName('IMDB').getOrCreate()
spark

In [5]:
df_members = spark.read.options(header='True', inferSchema='True', delimiter='\t').csv(datasets["namebasics"])
df_members.printSchema()
df_members.head(10)

root
 |-- nconst: string (nullable = true)
 |-- primaryName: string (nullable = true)
 |-- birthYear: string (nullable = true)
 |-- deathYear: string (nullable = true)
 |-- primaryProfession: string (nullable = true)
 |-- knownForTitles: string (nullable = true)

[Row(nconst='nm0000001', primaryName='Fred Astaire', birthYear='1899', deathYear='1987', primaryProfession='soundtrack,actor,miscellaneous', knownForTitles='tt0053137,tt0050419,tt0072308,tt0045537'),
 Row(nconst='nm0000002', primaryName='Lauren Bacall', birthYear='1924', deathYear='2014', primaryProfession='actress,soundtrack', knownForTitles='tt0037382,tt0071877,tt0038355,tt0117057'),
 Row(nconst='nm0000003', primaryName='Brigitte Bardot', birthYear='1934', deathYear='\\N', primaryProfession='actress,soundtrack,music_department', knownForTitles='tt0057345,tt0049189,tt0056404,tt0054452'),
 Row(nconst='nm0000004', primaryName='John Belushi', birthYear='1949', deathYear='1982', primaryProfession='actor,soundtrack,writer', knownForTitles='tt0077975,tt0080455,tt0072562,tt0078723'),
 Row(nconst='nm0000005', primaryName='Ingmar Bergman', birthYear='1918', deathYear='2007', primaryProfession='writer,director,actor', knownForTitles='tt0050976,tt0083922,tt0050986,tt0060827'),
 Row(nconst='nm0000006', primaryName='Ingrid Bergman', birthYear='1915', deathYear='1982', primaryProfession='actress,soundtrack,producer', knownForTitles='tt0038787,tt0038109,tt0036855,tt0034583'),
 Row(nconst='nm0000007', primaryName='Humphrey Bogart', birthYear='1899', deathYear='1957', primaryProfession='actor,soundtrack,producer', knownForTitles='tt0037382,tt0034583,tt0043265,tt0042593'),
 Row(nconst='nm0000008', primaryName='Marlon Brando', birthYear='1924', deathYear='2004', primaryProfession='actor,soundtrack,director', knownForTitles='tt0078788,tt0047296,tt0068646,tt0070849'),
 Row(nconst='nm0000009', primaryName='Richard Burton', birthYear='1925', deathYear='1984', primaryProfession='actor,soundtrack,producer', knownForTitles='tt0087803,tt0061184,tt0059749,tt0057877'),
 Row(nconst='nm0000010', primaryName='James Cagney', birthYear='1899', deathYear='1986', primaryProfession='actor,soundtrack,director', knownForTitles='tt0031867,tt0029870,tt0035575,tt0042041')]

In [6]:
df_titles = spark.read.options(header='True', inferSchema='True', delimiter='\t').csv(datasets["titlebasics"])
df_titles = df_titles.where("isAdult == 0")
df_titles.printSchema()
df_titles.head(10)

root
 |-- tconst: string (nullable = true)
 |-- titleType: string (nullable = true)
 |-- primaryTitle: string (nullable = true)
 |-- originalTitle: string (nullable = true)
 |-- isAdult: string (nullable = true)
 |-- startYear: string (nullable = true)
 |-- endYear: string (nullable = true)
 |-- runtimeMinutes: string (nullable = true)
 |-- genres: string (nullable = true)

[Row(tconst='tt0000001', titleType='short', primaryTitle='Carmencita', originalTitle='Carmencita', isAdult='0', startYear='1894', endYear='\\N', runtimeMinutes='1', genres='Documentary,Short'),
 Row(tconst='tt0000002', titleType='short', primaryTitle='Le clown et ses chiens', originalTitle='Le clown et ses chiens', isAdult='0', startYear='1892', endYear='\\N', runtimeMinutes='5', genres='Animation,Short'),
 Row(tconst='tt0000003', titleType='short', primaryTitle='Pauvre Pierrot', originalTitle='Pauvre Pierrot', isAdult='0', startYear='1892', endYear='\\N', runtimeMinutes='4', genres='Animation,Comedy,Romance'),
 Row(tconst='tt0000004', titleType='short', primaryTitle='Un bon bock', originalTitle='Un bon bock', isAdult='0', startYear='1892', endYear='\\N', runtimeMinutes='12', genres='Animation,Short'),
 Row(tconst='tt0000005', titleType='short', primaryTitle='Blacksmith Scene', originalTitle='Blacksmith Scene', isAdult='0', startYear='1893', endYear='\\N', runtimeMinutes='1', genres='Comedy,Short'),
 Row(tconst='tt0000006', titleType='short', primaryTitle='Chinese Opium Den', originalTitle='Chinese Opium Den', isAdult='0', startYear='1894', endYear='\\N', runtimeMinutes='1', genres='Short'),
 Row(tconst='tt0000007', titleType='short', primaryTitle='Corbett and Courtney Before the Kinetograph', originalTitle='Corbett and Courtney Before the Kinetograph', isAdult='0', startYear='1894', endYear='\\N', runtimeMinutes='1', genres='Short,Sport'),
 Row(tconst='tt0000008', titleType='short', primaryTitle='Edison Kinetoscopic Record of a Sneeze', originalTitle='Edison Kinetoscopic Record of a Sneeze', isAdult='0', startYear='1894', endYear='\\N', runtimeMinutes='1', genres='Documentary,Short'),
 Row(tconst='tt0000009', titleType='movie', primaryTitle='Miss Jerry', originalTitle='Miss Jerry', isAdult='0', startYear='1894', endYear='\\N', runtimeMinutes='45', genres='Romance'),
 Row(tconst='tt0000010', titleType='short', primaryTitle='Leaving the Factory', originalTitle="La sortie de l'usine Lumière à Lyon", isAdult='0', startYear='1895', endYear='\\N', runtimeMinutes='1', genres='Documentary,Short')]

In [7]:
df_principals = spark.read.options(header='True', inferSchema='True', delimiter='\t').csv(datasets["titleprincipals"])
df_principals.printSchema()
df_principals.head(10)

root
 |-- tconst: string (nullable = true)
 |-- ordering: integer (nullable = true)
 |-- nconst: string (nullable = true)
 |-- category: string (nullable = true)
 |-- job: string (nullable = true)
 |-- characters: string (nullable = true)

[Row(tconst='tt0000001', ordering=1, nconst='nm1588970', category='self', job='\\N', characters='["Self"]'),
 Row(tconst='tt0000001', ordering=2, nconst='nm0005690', category='director', job='\\N', characters='\\N'),
 Row(tconst='tt0000001', ordering=3, nconst='nm0374658', category='cinematographer', job='director of photography', characters='\\N'),
 Row(tconst='tt0000002', ordering=1, nconst='nm0721526', category='director', job='\\N', characters='\\N'),
 Row(tconst='tt0000002', ordering=2, nconst='nm1335271', category='composer', job='\\N', characters='\\N'),
 Row(tconst='tt0000003', ordering=1, nconst='nm0721526', category='director', job='\\N', characters='\\N'),
 Row(tconst='tt0000003', ordering=2, nconst='nm1770680', category='producer', job='producer', characters='\\N'),
 Row(tconst='tt0000003', ordering=3, nconst='nm1335271', category='composer', job='\\N', characters='\\N'),
 Row(tconst='tt0000003', ordering=4, nconst='nm5442200', category='editor', job='\\N', characters='\\N'),
 Row(tconst='tt0000004', ordering=1, nconst='nm0721526', category='director', job='\\N', characters='\\N')]

### Alive actors whose name starts with “Phi” and did not participate in any movie in 2014.

In [8]:
alive_members = df_members.select("nconst", "primaryName").where("deathYear == '\\\\N' AND primaryName LIKE 'Phi%'")
alive_actors = df_principals.select("nconst", "tconst").where("category IN ('self', 'actor', 'actress')").join(alive_members, 'nconst', 'inner')
movies_not_in_2014 = df_titles.select("tconst")\
    .where("(startyear > 2014 OR (CASE WHEN titleType LIKE 'tv%' THEN (CASE WHEN startyear < 2014 THEN (endyear < 2014) ELSE false END) ELSE false END))")
alive_actors = alive_actors.join(movies_not_in_2014, 'tconst', 'inner').select('primaryName').distinct()
output = alive_actors.collect()
output

[Row(primaryName='Philip Casnoff'),
 Row(primaryName='Philippe Batel'),
 Row(primaryName='Philippe Viotto'),
 Row(primaryName='Philip Bolden'),
 Row(primaryName='Phil Rynda'),
 Row(primaryName='Phillip Chea'),
 Row(primaryName='Phillip Groenweghe'),
 Row(primaryName='Philomena Gabriel'),
 Row(primaryName='Phil Marriott'),
 Row(primaryName='Philippe Simonet'),
 Row(primaryName='Philip Dorrell'),
 Row(primaryName='Phil Tufnell'),
 Row(primaryName='Philipp Schmitz-Eisen'),
 Row(primaryName='Philippe Ross'),
 Row(primaryName='Phil Catalli'),
 Row(primaryName='Phil McRea'),
 Row(primaryName='Philippe Levasseur'),
 Row(primaryName='Philline Goess-Enzenberg'),
 Row(primaryName='Philip Holloway'),
 Row(primaryName='Phil Husbands'),
 Row(primaryName='Phil Rees'),
 Row(primaryName='Philip Donoghue'),
 Row(primaryName='Philip Malzahn'),
 Row(primaryName='Philipa Martin'),
 Row(primaryName='Philip Horst'),
 Row(primaryName='Phillip Studmire'),
 Row(primaryName='Philip Spartis'),
 Row(primaryName='Philip Roas'),
 Row(primaryName='Phil Bishop'),
 Row(primaryName='Phil Williamson'),
 Row(primaryName='Phillip Sansone'),
 Row(primaryName='Phil Seeholzer'),
 Row(primaryName='Phillip Lewitski'),
 Row(primaryName='Philipp Hochmair'),
 Row(primaryName='Phil Mason'),
 Row(primaryName='Philippa Boyens'),
 Row(primaryName='Philip Brodie'),
 Row(primaryName='Phillip Wade'),
 Row(primaryName='Philip Stevens'),
 Row(primaryName='Philly Swain'),
 Row(primaryName='Philip Benson'),
 Row(primaryName='Philip Greenall'),
 Row(primaryName='Philippe Rouyer'),
 Row(primaryName='Philippa Mackie'),
 Row(primaryName='Phillip Sherwood'),
 Row(primaryName='Phil Younghusband'),
 Row(primaryName='Phil Parkinson'),
 Row(primaryName='Philippa Hanna'),
 Row(primaryName='Philip Dowling'),
 Row(primaryName='Philip Roberson Jr.'),
 Row(primaryName='Phillip Ash'),
 Row(primaryName='Philippe Hédoux'),
 Row(primaryName='Philippa Bennett'),
 Row(primaryName='Philipp Maderthaner'),
 Row(primaryName='Philip Harker'),
 Row(primaryName='Phil Calvert'),
 Row(primaryName='Philip Doyle'),
 Row(primaryName='Phil Wright'),
 Row(primaryName='Philanzo King'),
 Row(primaryName='Phineas Harper'),
 Row(primaryName='Phil Nuytten'),
 Row(primaryName='Phillip Allman'),
 Row(primaryName='Philippe Bouin'),
 Row(primaryName='Phillip Holloway'),
 Row(primaryName='Phil Trenbath'),
 Row(primaryName='Philip Hynd'),
 Row(primaryName='Phillip J. Lewis'),
 Row(primaryName='Philippe Dejean'),
 Row(primaryName='Philippe Girard'),
 Row(primaryName='Philip Schneider'),
 Row(primaryName='Philip Todd'),
 Row(primaryName='Philippe Botes'),
 Row(primaryName='Philip Malbec'),
 Row(primaryName='Phillip Warren'),
 Row(primaryName='Philipp Karner'),
 Row(primaryName='Phil Rochester'),
 Row(primaryName='Philippe Muyl'),
 Row(primaryName='Phil Vickery'),
 Row(primaryName='Philip Craven'),
 Row(primaryName='Philip Herbert'),
 Row(primaryName='Phil Cooke'),
 Row(primaryName='Phil Bell'),
 Row(primaryName='Philippe Bachmann'),
 Row(primaryName='Philippe Reines'),
 Row(primaryName='Phil Perrier'),
 Row(primaryName='Phil Toran'),
 Row(primaryName='Phil Hancock'),
 Row(primaryName='Phil Wall'),
 Row(primaryName='Phil Swanson'),
 Row(primaryName='Philip Khokhar'),
 Row(primaryName='Philipp Schörghofer'),
 Row(primaryName='Philip Wrencher'),
 Row(primaryName='Phil Lyndon'),
 Row(primaryName='Phil Wallace'),
 Row(primaryName='Phil Newton'),
 Row(primaryName='Philippe Bowgen'),
 Row(primaryName='Phil Pawlak'),
 Row(primaryName='Philippe Barbarin'),
 Row(primaryName='Phil Lape'),
 Row(primaryName='Philipp Stuvecke'),
 Row(primaryName='Philip Bereket Ørn'),
 Row(primaryName='Philip Attick'),
 Row(primaryName='Philly Plowden'),
 Row(primaryName='Philip Franks'),
 Row(primaryName='Philippe Cariou'),
 Row(primaryName='Philip Birnstiel'),
 Row(primaryName='Phil Darwin'),
 Row(primaryName='Phillip Hodson'),
 Row(primaryName='Philipp Ebner'),
 Row(primaryName='Phillipa Vaizey'),
 Row(primaryName='Philypa Phoenix'),
 Row(primaryName='Phillip Stewart'),
 Row(primaryName="Philippe Grand'Henry"),
 Row(primaryName='Philip Bahnam'),
 Row(primaryName='Philip Rycroft'),
 Row(primaryName='Phillip Goff'),
 Row(primaryName='Philipp Zitterbart'),
 Row(primaryName='Phillippa Goymer'),
 Row(primaryName='Philip Behringer'),
 Row(primaryName='Phil Antonino'),
 Row(primaryName='Philip Engelgau'),
 Row(primaryName='Phil Missig'),
 Row(primaryName='Philipp Marti'),
 Row(primaryName='Philippe Gaulier'),
 Row(primaryName='Philippe Parreno'),
 Row(primaryName='Philippe de Monts'),
 Row(primaryName='Phil Aguilar'),
 Row(primaryName='PhilipElise'),
 Row(primaryName='Philip Cooper'),
 Row(primaryName='Philomena Bluyssen'),
 Row(primaryName='Philippe Tran'),
 Row(primaryName='Phill Brown'),
 Row(primaryName='Philip Muehlenbeck'),
 Row(primaryName='Phillip Croton'),
 Row(primaryName='Phil Gifford'),
 Row(primaryName='Phillip Maurer'),
 Row(primaryName='Philip Lowrie'),
 Row(primaryName='Philip Smithey'),
 Row(primaryName='Phillip Pitta'),
 Row(primaryName='Philip Simon'),
 Row(primaryName='Philipp Brücher'),
 Row(primaryName='Phil Lester'),
 Row(primaryName='Phillip Costello'),
 Row(primaryName='Phil Minissale'),
 Row(primaryName='Philip Rafferty'),
 Row(primaryName='Phil Wainman'),
 Row(primaryName='Phillip Klinkner'),
 Row(primaryName='Phil Morris'),
 Row(primaryName='Philippe Baudrin'),
 Row(primaryName='Philip C. Matthews'),
 Row(primaryName='Phillip Guk'),
 Row(primaryName='Philippe Böhm'),
 Row(primaryName='Phil Trowbridge'),
 Row(primaryName='Phil Booth'),
 Row(primaryName='Phil Lavelle'),
 Row(primaryName='Philippe Blanchard'),
 Row(primaryName='Phillip Dennis'),
 Row(primaryName='Philipe Faria'),
 Row(primaryName='Philippe Levy'),
 Row(primaryName='Philippine Lemaire'),
 Row(primaryName='Phi Vu'),
 Row(primaryName='Phillip Burke'),
 Row(primaryName='Phil Braun'),
 Row(primaryName='Philip Coyne'),
 Row(primaryName='Philippe Duvernay'),
 Row(primaryName='Philip Nel'),
 Row(primaryName='Phil Orlando'),
 Row(primaryName='Philippe Fallait'),
 Row(primaryName='Phil Donney'),
 Row(primaryName='Philip Ingram'),
 Row(primaryName='Phillipe Alexander'),
 Row(primaryName='Philip Maurice Ramon'),
 Row(primaryName='Philippe Farinelli'),
 Row(primaryName='Phil Finney'),
 Row(primaryName='Phil Olsen'),
 Row(primaryName='Philippe Bond'),
 Row(primaryName='Philippe Risoli'),
 Row(primaryName='Philip Chirstian Cooney'),
 Row(primaryName='Philippe Morand'),
 Row(primaryName='Philomène Grandin'),
 Row(primaryName='Phillip Manikum'),
 Row(primaryName='Phillip Johnson'),
 Row(primaryName='Philip Broadbent'),
 Row(primaryName='Philipp Walser'),
 Row(primaryName='Philippe Boisseau'),
 Row(primaryName='Philippe Quirion'),
 Row(primaryName='Philip Solum'),
 Row(primaryName='Phillip Hargro'),
 Row(primaryName='Phil Bickart'),
 Row(primaryName='Philippe Houillon'),
 Row(primaryName='Philip Jacoby'),
 Row(primaryName='Philip LoPresti'),
 Row(primaryName='Philippa Gibbs'),
 Row(primaryName='Phillip Hunt'),
 Row(primaryName='Phillippe Boivin'),
 Row(primaryName='Philippe Linus Petit'),
 Row(primaryName="Phillip 'Snake' DiFranco"),
 Row(primaryName='Phillip Gjersten'),
 Row(primaryName='Philip Bird'),
 Row(primaryName='Phil Hammond'),
 Row(primaryName='Philipp Köster'),
 Row(primaryName='Phil Ippolito'),
 Row(primaryName='Philip Raymond'),
 Row(primaryName='Phil Kasafir'),
 Row(primaryName='Phil Chadwick'),
 Row(primaryName='Phila Madlingozi'),
 Row(primaryName='Philip McElroy'),
 Row(primaryName='Philippe Beun-Garbe'),
 Row(primaryName='Philippe Berthold'),
 Row(primaryName='Philippe Poirier'),
 Row(primaryName='Philip J Silvera'),
 Row(primaryName='Phil Arcaro'),
 Row(primaryName='Philip Perry'),
 Row(primaryName='Philip Field'),
 Row(primaryName='Philip Stander'),
 Row(primaryName='Phil Schultz'),
 Row(primaryName='Phil Bennion'),
 Row(primaryName='Phil Margera'),
 Row(primaryName='Philippe Croizon'),
 Row(primaryName='Phil Bostwick'),
 Row(primaryName='Philip Batt'),
 Row(primaryName='Phil Moniz'),
 Row(primaryName='Philippe Presti'),
 Row(primaryName='Philip Ball'),
 Row(primaryName='Phillipa Lois-Anamoah'),
 Row(primaryName='Philipe Lins'),
 Row(primaryName="Philip O'Gorman"),
 Row(primaryName='Phil Gowers'),
 Row(primaryName='Philip Okolo'),
 Row(primaryName='Philippa Lillywhite'),
 Row(primaryName='Philip Lanyon'),
 Row(primaryName='Philip Edgcumbe'),
 Row(primaryName='Philip Fernandez Eskildsen'),
 Row(primaryName='Phillip Kelly'),
 Row(primaryName='Phil Sillas'),
 Row(primaryName='Philip Ra'),
 Row(primaryName='Philippe Achard'),
 Row(primaryName='Philip Brenner'),
 Row(primaryName='Phillip Maxwell'),
 Row(primaryName='Phillip Mottaz'),
 Row(primaryName='Philip Joshua'),
 Row(primaryName='Philipp Mahler'),
 Row(primaryName="Phil D'Asaro"),
 Row(primaryName='Phillip Jordan'),
 Row(primaryName='Philip Ivanov'),
 Row(primaryName='Philipp K. Smith'),
 Row(primaryName='Philipp Mauthe'),
 Row(primaryName='Philip Cartner'),
 Row(primaryName='Philip Mould'),
 Row(primaryName='Philipp Grander'),
 Row(primaryName='Philip Lopez'),
 Row(primaryName='Phil Slatter'),
 Row(primaryName='Philine Steuer'),
 Row(primaryName='Philipp Majer'),
 Row(primaryName='Philippe Lebas'),
 Row(primaryName='Phil Hogarth'),
 Row(primaryName='Philip Amerine'),
 Row(primaryName='Philippe Sands'),
 Row(primaryName='Phillip Schettler'),
 Row(primaryName='Philip McGuiness'),
 Row(primaryName='Phillip Jackson'),
 Row(primaryName='Phil Friedman'),
 Row(primaryName='Philippe Boggio'),
 Row(primaryName='Philip Iyegbe'),
 Row(primaryName='Philippa Dawson'),
 Row(primaryName='Phil Castor'),
 Row(primaryName='Phil Rouse'),
 Row(primaryName='Philip Huff'),
 Row(primaryName='Phillip Titus'),
 Row(primaryName='Philip P. DiStefano'),
 Row(primaryName='Philippe Dechanet'),
 Row(primaryName='Philip Buyi'),
 Row(primaryName='Philippine Darblay'),
 Row(primaryName='Philip Stanford'),
 Row(primaryName='Phil Salt'),
 Row(primaryName='Philip Levine'),
 Row(primaryName='Philippe Crevel'),
 Row(primaryName='Phil Dempster'),
 Row(primaryName='Phillip Wiedenheft'),
 Row(primaryName='Philip Galanes'),
 Row(primaryName='Phillip Vaughn'),
 Row(primaryName='Phil Jacobson'),
 Row(primaryName='Phillip Jacksson'),
 Row(primaryName='Phillip Gallegos'),
 Row(primaryName='Philip Garcia'),
 Row(primaryName='Philippe Boddaert'),
 Row(primaryName='Philip Baker'),
 Row(primaryName='Philipp Karlsbader'),
 Row(primaryName='Phillip Ennis'),
 Row(primaryName='Philip Ridout'),
 Row(primaryName='Philippe Cabane'),
 Row(primaryName='Phillip Houghton'),
 Row(primaryName='Philippe Le Moult'),
 Row(primaryName='Phillip Doc Martin'),
 Row(primaryName='Philip Gill'),
 Row(primaryName='Phil Midkiff'),
 Row(primaryName='Phil Blevins'),
 Row(primaryName='Philipp Neuweiler'),
 Row(primaryName='Phillip Todd'),
 Row(primaryName='Philip Van Martin'),
 Row(primaryName='Philip Arneill'),
 Row(primaryName='Philipp Kosok'),
 Row(primaryName='Philip Littell'),
 Row(primaryName='Philipp Wallentin'),
 Row(primaryName='Philippe Petitcuenot'),
 Row(primaryName='Phil Gerrard'),
 Row(primaryName='Philip Ennis'),
 Row(primaryName='Philippe-Olivier'),
 Row(primaryName='Phil Robertshaw'),
 Row(primaryName='Philip Binder'),
 Row(primaryName='Philippe Vieux'),
 Row(primaryName='Philip Shouse'),
 Row(primaryName='Philippe Régent'),
 Row(primaryName='Phil Dale'),
 Row(primaryName='Phillip Brock'),
 Row(primaryName='Phil Occhiboi'),
 Row(primaryName='Philippe Baron'),
 Row(primaryName='Philipp Zybkovets'),
 Row(primaryName='Philip Mewes'),
 Row(primaryName='Philippe Douroux'),
 Row(primaryName='Philipp Fabian Kölmel'),
 Row(primaryName='Phillip Steven Rowe'),
 Row(primaryName='Philippe Gougler'),
 Row(primaryName='Philip Alexander'),
 Row(primaryName='Phil Vischer'),
 Row(primaryName='Phil McArdle'),
 Row(primaryName='Philip Campbell'),
 Row(primaryName='Phil Clapp'),
 Row(primaryName='Phillip Edge'),
 Row(primaryName='Phil Wood'),
 Row(primaryName='Phil Atherton'),
 Row(primaryName='Phi Truong'),
 Row(primaryName='Philip Kucher'),
 Row(primaryName='Phillip Thomas'),
 Row(primaryName='Philipp Reiter'),
 Row(primaryName='Philippe André'),
 Row(primaryName='Philip Honeywell'),
 Row(primaryName='Philip Louis Calabro'),
 Row(primaryName='Phil Goldfeder'),
 Row(primaryName='Philip Bryan'),
 Row(primaryName='Philip Barton'),
 Row(primaryName='Phil Downing'),
 Row(primaryName='Phil Dennis'),
 Row(primaryName='Philippe Carcassonne'),
 Row(primaryName='Phil Lockwood'),
 Row(primaryName='Philip Graeme'),
 Row(primaryName='Phill Barnett'),
 Row(primaryName='Philip Rakoci'),
 Row(primaryName='Philippe Sauro Cinq-Mars'),
 Row(primaryName='Phil Coccioletti'),
 Row(primaryName='Phil Lempert'),
 Row(primaryName='Phil Nichols'),
 Row(primaryName='Phillip Lewis'),
 Row(primaryName='Philipp Franck'),
 Row(primaryName='Philippe Pean'),
 Row(primaryName='Phil Cullom'),
 Row(primaryName='Philippe Missamou'),
 Row(primaryName='Philippe de Georges'),
 Row(primaryName='Philippe Moissonnier'),
 Row(primaryName='Phil Mertz'),
 Row(primaryName='Philippe Chardevel'),
 Row(primaryName='Philippa Hammond'),
 Row(primaryName='Philippe A. Collin'),
 Row(primaryName='Philippe Aizizeau'),
 Row(primaryName='Philippine Bataille'),
 Row(primaryName='Philip Rosenberg'),
 Row(primaryName='Phill Webster'),
 Row(primaryName='Phillip Wright'),
 Row(primaryName='Philip Rosenstiel'),
 Row(primaryName='Phil Myrthil'),
 Row(primaryName='Philip Micah Carter'),
 Row(primaryName='Philipp Aschenwald'),
 Row(primaryName='Philip Olanosa'),
 Row(primaryName='Philip Talbot'),
 Row(primaryName='Philip Holder'),
 Row(primaryName='Philip Stewart'),
 Row(primaryName='Philomène Levesque Rainville'),
 Row(primaryName='Phil Hong'),
 Row(primaryName='Philippa Kempson'),
 Row(primaryName='Phillip Halpern'),
 Row(primaryName='Philipp Scheppmann'),
 Row(primaryName='Philipp Wobito'),
 Row(primaryName='Philipp Zdebel'),
 Row(primaryName='Phil Rust'),
 Row(primaryName='Phillip Ward'),
 Row(primaryName='Philippe Decker'),
 Row(primaryName='Philippe Houillez'),
 Row(primaryName='Philomena Odumenya'),
 Row(primaryName='Philip Labes'),
 Row(primaryName='Phil Lesh'),
 Row(primaryName='Philip McGettigan'),
 Row(primaryName='Phil Nee'),
 Row(primaryName='Phil Bulmer'),
 Row(primaryName='Phillip Acheson'),
 Row(primaryName='Philip Hinchcliffe'),
 Row(primaryName='Phil Drax'),
 Row(primaryName='Philip Castle'),
 Row(primaryName='Phil Berry'),
 Row(primaryName='Phil Lafferty'),
 Row(primaryName='Philip Piller'),
 Row(primaryName='Philipp Ammon'),
 Row(primaryName='Philip Jacobs'),
 Row(primaryName='Philippe Martz'),
 Row(primaryName='Phillip Sisk'),
 Row(primaryName='Philippe Bardy'),
 Row(primaryName='Philip van Ees'),
 Row(primaryName='Philipp Weigand'),
 Row(primaryName='Phil Lewis'),
 Row(primaryName='Philippe Baumel'),
 Row(primaryName='Philip Morton'),
 Row(primaryName='Phil Meier'),
 Row(primaryName='Philippe Mermillon'),
 Row(primaryName='Phish'),
 Row(primaryName='Philip Ethan Grossman'),
 Row(primaryName='Phil Buckley'),
 Row(primaryName='Phillip Huber'),
 Row(primaryName='Phil Pinner'),
 Row(primaryName='Philip Geeson'),
 Row(primaryName='Philipp Niedersen'),
 Row(primaryName='Philip Cairns'),
 Row(primaryName='Philip Schuster'),
 Row(primaryName='Phinehas Yoon'),
 Row(primaryName='Phillip McCrary'),
 Row(primaryName='Philip Jordan'),
 Row(primaryName='Philippe A. Haddad'),
 Row(primaryName='Phil De Luna'),
 Row(primaryName='Phil Gurski'),
 Row(primaryName='Phillip Duarte'),
 Row(primaryName='Philip Palmer'),
 Row(primaryName='Philip Wray'),
 Row(primaryName='Phillip McKechnie'),
 Row(primaryName='Philipp Hauss'),
 Row(primaryName='Philip Daigle'),
 Row(primaryName='Philip Jesensky'),
 Row(primaryName='Phil Cheadle'),
 Row(primaryName='Philippe Annaert'),
 Row(primaryName='Philip James Burt'),
 Row(primaryName='Phil Hollywood'),
 Row(primaryName='Philip Sharrocks'),
 Row(primaryName='Phillip E. Walker'),
 Row(primaryName='Philippe Crehange'),
 Row(primaryName='Phil Ward'),
 Row(primaryName='Philip E. Johnson'),
 Row(primaryName='Philippe Collin'),
 Row(primaryName='Philip Lee'),
 Row(primaryName='Philippe Boa'),
 Row(primaryName='Phil Demers'),
 Row(primaryName='Philippe Bernaerts'),
 Row(primaryName='Phil Neumann'),
 Row(primaryName='Philippe Gosselin'),
 Row(primaryName='Philipp Weiskirch'),
 Row(primaryName='Philip Schwarz'),
 Row(primaryName='Phil Eastman'),
 Row(primaryName='Philip Grogan'),
 Row(primaryName='Phillip Hague'),
 Row(primaryName='Phil Tilli'),
 Row(primaryName='Phillip Gray'),
 Row(primaryName='Philip Inghelbrecht'),
 Row(primaryName='Phillip Markwell'),
 Row(primaryName='Philippe Muyters'),
 Row(primaryName='Philip Pedersen'),
 Row(primaryName='Phil Depalo'),
 Row(primaryName='Philip Walton'),
 Row(primaryName='Phil Guerrero'),
 Row(primaryName='Philippe Juvin'),
 Row(primaryName='Philippe Urraca'),
 Row(primaryName='Philippine de Saint Exupéry'),
 Row(primaryName='Philippe Mora'),
 Row(primaryName='Philip Van Isacker'),
 Row(primaryName='Phil E. Peirson'),
 Row(primaryName='Phillip Kyle Knecht'),
 Row(primaryName='Philippe Talbot'),
 Row(primaryName='Phil Délecluse'),
 Row(primaryName='Philip Salvatore Bruno'),
 Row(primaryName='Phil Roe'),
 Row(primaryName='Philippe de Gaspé Beaubien'),
 Row(primaryName='Philippe Besnier'),
 Row(primaryName='Phil Vibrans'),
 Row(primaryName='Philip Anthony-Rodriguez'),
 Row(primaryName='Philipp Kharel'),
 Row(primaryName='Phillip Sacramento'),
 Row(primaryName='Phil Siemers'),
 Row(primaryName='Phil Coulter'),
 Row(primaryName='Phil Caracas'),
 Row(primaryName='Philip Walley'),
 Row(primaryName='Phil Perez'),
 Row(primaryName='Philipe Havlik'),
 Row(primaryName='Philippe Luchsinger'),
 Row(primaryName='Phil Dalhausser'),
 Row(primaryName='Philip Fahlqvist'),
 Row(primaryName='Phillip Baca'),
 Row(primaryName='Philipp Richardt'),
 Row(primaryName='Philippe Compaore'),
 Row(primaryName='Phillip Grant'),
 Row(primaryName='Philip Schuette'),
 Row(primaryName='Phillip Don Offill'),
 Row(primaryName='Philip N. Williams'),
 Row(primaryName='Phil Paquette'),
 Row(primaryName='Philippe Delaoutre'),
 Row(primaryName='Phil Wang'),
 Row(primaryName='Philip Vasquez'),
 Row(primaryName='Philip Carlsson'),
 Row(primaryName='Phillip A. Barbb'),
 Row(primaryName='Philippe Clement'),
 Row(primaryName='Philip King'),
 Row(primaryName='Phillip Siracusa'),
 Row(primaryName='Philippe Moreau-Chevrolet'),
 Row(primaryName='Philip Timmermann'),
 Row(primaryName='Phil Song'),
 Row(primaryName='Philip Janz'),
 Row(primaryName='Philippe Pierrard'),
 Row(primaryName='Phil Kennedy'),
 Row(primaryName='Phillip Walsh'),
 Row(primaryName='Phill Koch'),
 Row(primaryName='Philips Francis'),
 Row(primaryName='Philip Hetue'),
 Row(primaryName='Philip Harper'),
 Row(primaryName='Phil Beuth'),
 Row(primaryName='Philip Carlson'),
 Row(primaryName='Philipp Quel'),
 Row(primaryName='Philippe Angels'),
 Row(primaryName='Philip Bradshaw'),
 Row(primaryName='Philip Lawrence'),
 Row(primaryName='Philip Ross'),
 Row(primaryName='Phil Daub'),
 Row(primaryName='Phil Chalmers'),
 Row(primaryName='Philippe Jaroussky'),
 Row(primaryName='Phil Ridarelli'),
 Row(primaryName='Philip Scheffner'),
 Row(primaryName='Philipp Krüpe'),
 Row(primaryName='Philippe Claudel'),
 Row(primaryName='Phil Armstrong'),
 Row(primaryName='Phil M. Jones'),
 Row(primaryName='Philip Zimny'),
 Row(primaryName='Philip Montgomery'),
 Row(primaryName='Philippa Ashcroft'),
 Row(primaryName='Phil Neal'),
 Row(primaryName='Phillip Kennedy'),
 Row(primaryName='Phil Adams'),
 Row(primaryName='Phillip Grigg'),
 Row(primaryName='Philip Spreen'),
 Row(primaryName='Philippe Petitgas'),
 Row(primaryName='Phil Crookes'),
 Row(primaryName='Phil Ryder'),
 Row(primaryName='Philip Wegmann'),
 Row(primaryName='Philippe Catoire'),
 Row(primaryName='Philip Henville'),
 Row(primaryName='Philip Brocklehurst'),
 Row(primaryName='Philippe Thelen'),
 Row(primaryName='Philip Rice'),
 Row(primaryName='Phil Galaras'),
 Row(primaryName='Philippa Coulthard'),

In [9]:
alive_actors.show(10)

+------------------+
|       primaryName|
+------------------+
|    Philip Casnoff|
|    Philippe Batel|
|   Philippe Viotto|
|     Philip Bolden|
|        Phil Rynda|
|      Phillip Chea|
|Phillip Groenweghe|
| Philomena Gabriel|
|     Phil Marriott|
|  Philippe Simonet|
+------------------+
only showing top 10 rows

### Producers who have produced the most talk shows in 2017 and whose name contains “Gill”.

In [10]:
members = df_members.select("nconst", "primaryName").where(df_members.primaryName.contains("Gill"))
producers = df_principals.select("nconst", "tconst").where(df_principals.category == 'producer').join(members, 'nconst', 'inner')
titles = df_titles.select('tconst', sf.split(df_titles.genres, ',', -1).alias('genres'))
talk_shows = titles.where(df_titles.genres.contains('Talk-Show'))
producers = producers.join(talk_shows, 'tconst', 'inner')\
        .groupBy('nconst')\
                .agg(sf.max(producers.primaryName).alias('name'), sf.count(producers.tconst).alias('numOfShows'))
producers = producers.sort(producers.numOfShows.desc()).select('name','numOfShows')
output = producers.collect()
output

[Row(name='Dominic Gillette', numOfShows=220),
 Row(name='Ryan Gill', numOfShows=81),
 Row(name='Gill Stribling-Wright', numOfShows=52),
 Row(name='Shane Gill', numOfShows=38),
 Row(name='Corinne Gilliard', numOfShows=29),
 Row(name='Rosemary Gill', numOfShows=22),
 Row(name='Tom Gillett', numOfShows=5),
 Row(name='Gill Brown', numOfShows=4),
 Row(name='Marc Gilliatt', numOfShows=2),
 Row(name='Dorothea Gillemot', numOfShows=2),
 Row(name='Marianne Gillgren', numOfShows=1),
 Row(name='Gilles Bérard', numOfShows=1),
 Row(name='Gilliam Parker', numOfShows=1),
 Row(name='Susan Gill', numOfShows=1),
 Row(name='Marilyn Gill', numOfShows=1),
 Row(name='Patrick Gillespie', numOfShows=1),
 Row(name='Gilliam Guthrie', numOfShows=1),
 Row(name='Anne McGill Wilson', numOfShows=1)]

In [11]:
producers.show(10)

+--------------------+----------+
|                name|numOfShows|
+--------------------+----------+
|    Dominic Gillette|       220|
|           Ryan Gill|        81|
|Gill Stribling-Wr...|        52|
|          Shane Gill|        38|
|    Corinne Gilliard|        29|
|       Rosemary Gill|        22|
|         Tom Gillett|         5|
|          Gill Brown|         4|
|       Marc Gilliatt|         2|
|   Dorothea Gillemot|         2|
+--------------------+----------+
only showing top 10 rows

### Alive producers with the greatest number of long-run titles produced (runtime greater than 120 minutes).

In [12]:
alive_members = df_members.select("nconst", "primaryName").where("deathYear == '\\\\N'")
alive_producers = df_principals.select("nconst", "tconst").where(df_principals.category == 'producer').join(alive_members, 'nconst', 'inner')
long_titles = df_titles.select('tconst').where(df_titles.runtimeMinutes > 120)
alive_producers = alive_producers.join(long_titles, 'tconst', 'inner')
alive_producers = alive_producers.groupBy('nconst')\
        .agg(sf.max(alive_producers.primaryName).alias('name'), sf.count(alive_producers.tconst).alias('numOfLongRunTitles'))
alive_producers = alive_producers.sort(alive_producers.numOfLongRunTitles.desc()).select('name','numOfLongRunTitles')
output = alive_producers.collect()
output

[Row(name='Acun Ilicali', numOfLongRunTitles=241),
 Row(name='Maxwell James', numOfLongRunTitles=176),
 Row(name='Wade Baverstock', numOfLongRunTitles=143),
 Row(name='Vince McMahon', numOfLongRunTitles=141),
 Row(name='Christopher Lockey', numOfLongRunTitles=114),
 Row(name='Nick Rylance', numOfLongRunTitles=102),
 Row(name='Efe Irvül', numOfLongRunTitles=102),
 Row(name='Matt Spencer', numOfLongRunTitles=92),
 Row(name='Claire Mooney', numOfLongRunTitles=90),
 Row(name='Fatih Aksoy', numOfLongRunTitles=87),
 Row(name='Yasar Irvül', numOfLongRunTitles=86),
 Row(name='Kyle Shire', numOfLongRunTitles=86),
 Row(name='Bhushan Kumar', numOfLongRunTitles=79),
 Row(name='Kerem Çatay', numOfLongRunTitles=78),
 Row(name='Shrikant Mohta', numOfLongRunTitles=76),
 Row(name='John Michael Flynn', numOfLongRunTitles=74),
 Row(name='Ashley Dixon', numOfLongRunTitles=70),
 Row(name='Isobel Rowland', numOfLongRunTitles=64),
 Row(name='Süreyya Önal', numOfLongRunTitles=64),
 Row(name='Natalie Bakhurst', numOfLongRunTitles=63),
 Row(name='Louisa Briccetti', numOfLongRunTitles=56),
 Row(name='Ryôichi Satô', numOfLongRunTitles=51),
 Row(name='François Duplat', numOfLongRunTitles=49),
 Row(name='Victoria Warivonchik', numOfLongRunTitles=48),
 Row(name='Ebony Elaine Hardin', numOfLongRunTitles=48),
 Row(name='Edward Doty', numOfLongRunTitles=47),
 Row(name='R.B. Choudary', numOfLongRunTitles=46),
 Row(name='Ronnie Screwvala', numOfLongRunTitles=46),
 Row(name='Timur Vaynshteyn', numOfLongRunTitles=46),
 Row(name='Krishan Kumar', numOfLongRunTitles=45),
 Row(name='Mahendra Soni', numOfLongRunTitles=45),
 Row(name='Mukesh Bhatt', numOfLongRunTitles=44),
 Row(name='Jordaan Shelley', numOfLongRunTitles=41),
 Row(name='Matt Manjourides', numOfLongRunTitles=41),
 Row(name='Justin A. Martell', numOfLongRunTitles=40),
 Row(name='Sophie Aristotelous', numOfLongRunTitles=39),
 Row(name='Dil Raju', numOfLongRunTitles=39),
 Row(name='Jennifer Moreau', numOfLongRunTitles=39),
 Row(name='Kôzô Kogoe', numOfLongRunTitles=37),
 Row(name='Lachlan Mantell', numOfLongRunTitles=37),
 Row(name='Ekta Kapoor', numOfLongRunTitles=34),
 Row(name='Uchenna Mbunabo', numOfLongRunTitles=33),
 Row(name='Max Brown', numOfLongRunTitles=32),
 Row(name='Paulo Branco', numOfLongRunTitles=31),
 Row(name='Sara Castresana González', numOfLongRunTitles=31),
 Row(name='Alex Reed', numOfLongRunTitles=31),
 Row(name='Simon L. Edwards', numOfLongRunTitles=31),
 Row(name='Aditya Chopra', numOfLongRunTitles=30),
 Row(name='Alexia Laroche-Joubert', numOfLongRunTitles=30),
 Row(name='Hetvi Karia', numOfLongRunTitles=30),
 Row(name='Christopher Watts', numOfLongRunTitles=30),
 Row(name='Antony Perumbavoor', numOfLongRunTitles=29),
 Row(name='Siddharth Roy Kapur', numOfLongRunTitles=29),
 Row(name='Allu Aravind', numOfLongRunTitles=28),
 Row(name='Shobha Kapoor', numOfLongRunTitles=28),
 Row(name='Vashu Bhagnani', numOfLongRunTitles=27),
 Row(name='Michael Heinzl', numOfLongRunTitles=25),
 Row(name='Saravanan M.', numOfLongRunTitles=25),
 Row(name='Kalaippuli S. Thanu', numOfLongRunTitles=25),
 Row(name='Syed Falak', numOfLongRunTitles=25),
 Row(name='Viswanathan Ravichandran', numOfLongRunTitles=25),
 Row(name='Rockline Venkatesh', numOfLongRunTitles=25),
 Row(name='K.E. Gnanavelraja', numOfLongRunTitles=25),
 Row(name='Sax Carr', numOfLongRunTitles=25),
 Row(name='Abdul Aziz', numOfLongRunTitles=25),
 Row(name='Hiroo Johar', numOfLongRunTitles=24),
 Row(name='Karan Johar', numOfLongRunTitles=24),
 Row(name='Sajid Nadiadwala', numOfLongRunTitles=24),
 Row(name='Faridur Reza Sagar', numOfLongRunTitles=24),
 Row(name='Andrew Hill', numOfLongRunTitles=24),
 Row(name='Sean Martin', numOfLongRunTitles=24),
 Row(name='Tim Bevan', numOfLongRunTitles=23),
 Row(name='Cathy Jones', numOfLongRunTitles=23),
 Row(name='Anto Joseph', numOfLongRunTitles=23),
 Row(name='Kumar Sadhuram Taurani', numOfLongRunTitles=23),
 Row(name='Liz Forkin', numOfLongRunTitles=23),
 Row(name='Boney Kapoor', numOfLongRunTitles=22),
 Row(name='A.M. Rathnam', numOfLongRunTitles=22),
 Row(name='K. Manju', numOfLongRunTitles=22),
 Row(name='Chad Unsichtbar', numOfLongRunTitles=22),
 Row(name='Eric Fellner', numOfLongRunTitles=21),
 Row(name='Jon Kilik', numOfLongRunTitles=21),
 Row(name='Graham Mole', numOfLongRunTitles=21),
 Row(name='Brian Grazer', numOfLongRunTitles=20),
 Row(name='Salim Akhtar', numOfLongRunTitles=20),
 Row(name='Arnon Milchan', numOfLongRunTitles=20),
 Row(name='Alain Sarde', numOfLongRunTitles=20),
 Row(name='Elliot Lewis', numOfLongRunTitles=20),
 Row(name='Saner Ayar', numOfLongRunTitles=20),
 Row(name='Nishpal Singh', numOfLongRunTitles=20),
 Row(name='Listin Stephen', numOfLongRunTitles=20),
 Row(name='Onur Güvenatam', numOfLongRunTitles=20),
 Row(name='Kathleen Kennedy', numOfLongRunTitles=19),
 Row(name='Annette Jolles', numOfLongRunTitles=19),
 Row(name='G.P. Vijayakumar', numOfLongRunTitles=19),
 Row(name='Gökhan Erkal', numOfLongRunTitles=19),
 Row(name='Sunil Lulla', numOfLongRunTitles=19),
 Row(name='Kalpathi S. Agoram', numOfLongRunTitles=19),
 Row(name='Ashok Kumar Dhanuka', numOfLongRunTitles=19),
 Row(name='Warren Croyle', numOfLongRunTitles=18),
 Row(name='C. Aswani Dutt', numOfLongRunTitles=18),
 Row(name='Pahlaj Nihalani', numOfLongRunTitles=18),
 Row(name='Mahesh Ramanathan', numOfLongRunTitles=18),
 Row(name='Ramesh Sadhuram Taurani', numOfLongRunTitles=17),
 Row(name='Ritesh Sidhwani', numOfLongRunTitles=17),
 Row(name='Ayan', numOfLongRunTitles=17),
 Row(name='Simone Atallah', numOfLongRunTitles=17),
 Row(name='Luca Bernabei', numOfLongRunTitles=16),
 Row(name='Vincent Del Rosario III', numOfLongRunTitles=16),
 Row(name='David Heyman', numOfLongRunTitles=16),
 Row(name='Nico Hofmann', numOfLongRunTitles=16),
 Row(name='Mark Johnson', numOfLongRunTitles=16),
 Row(name='Ravi Kishore', numOfLongRunTitles=16),
 Row(name='Dione Orrom', numOfLongRunTitles=16),
 Row(name='Lady Gravemaster', numOfLongRunTitles=16),
 Row(name='Gokhan Yildiz', numOfLongRunTitles=16),
 Row(name='D. Suresh Babu', numOfLongRunTitles=16),
 Row(name='Sireesh', numOfLongRunTitles=16),
 Row(name='Natalie Shabtai', numOfLongRunTitles=16),
 Row(name='Ian Bryce', numOfLongRunTitles=15),
 Row(name='Sandow M.M.A. Chinnappa Devar', numOfLongRunTitles=15),
 Row(name='Ganesh Jain', numOfLongRunTitles=15),
 Row(name='Kumar Mangat Pathak', numOfLongRunTitles=15),
 Row(name='Md Anan Islam', numOfLongRunTitles=15),
 Row(name='Vikram Malhotra', numOfLongRunTitles=15),
 Row(name='Dinesh Vijan', numOfLongRunTitles=15),
 Row(name='B.V.S.N. Prasad', numOfLongRunTitles=15),
 Row(name='Dhaval Gada', numOfLongRunTitles=15),
 Row(name='Sunkara Ramabrahmam', numOfLongRunTitles=15),
 Row(name='S.R. Prabhu', numOfLongRunTitles=15),
 Row(name='A. Subaskaran', numOfLongRunTitles=15),
 Row(name='Kyle Fogarty', numOfLongRunTitles=15),
 Row(name='Matilde Bernabei', numOfLongRunTitles=14),
 Row(name='Todd Black', numOfLongRunTitles=14),
 Row(name='Evgeniy Gindilis', numOfLongRunTitles=14),
 Row(name='Gauri Khan', numOfLongRunTitles=14),
 Row(name='Balasubramanian M.', numOfLongRunTitles=14),
 Row(name='Firoz Nadiadwala', numOfLongRunTitles=14),
 Row(name='Charles Roven', numOfLongRunTitles=14),
 Row(name='Nguyen Vinh Thien', numOfLongRunTitles=14),
 Row(name='D.V.V. Danayya', numOfLongRunTitles=14),
 Row(name='Madhu Mantena Varma', numOfLongRunTitles=14),
 Row(name='Vanridee Pongsittisak', numOfLongRunTitles=14),
 Row(name='Saibabu Jagarlamudi', numOfLongRunTitles=14),
 Row(name='S.R. Prakashbabu', numOfLongRunTitles=14),
 Row(name='Utpaal Acharya', numOfLongRunTitles=14),
 Row(name='Jay K. Cagatay', numOfLongRunTitles=14),
 Row(name='Suryadevara Naga Vamsi', numOfLongRunTitles=14),
 Row(name='Necati Akpinar', numOfLongRunTitles=13),
 Row(name='Eric Bischoff', numOfLongRunTitles=13),
 Row(name='Ramoji Rao', numOfLongRunTitles=13),
 Row(name='Veronique Del Rosario-Corpus', numOfLongRunTitles=13),
 Row(name='Olivier Delbosc', numOfLongRunTitles=13),
 Row(name='Kevin Feige', numOfLongRunTitles=13),
 Row(name='Bernhard Fleischer', numOfLongRunTitles=13),
 Row(name='Dede Gardner', numOfLongRunTitles=13),
 Row(name='Gerardo Herrero', numOfLongRunTitles=13),
 Row(name='Frank Marshall', numOfLongRunTitles=13),
 Row(name='Masayuki Satô', numOfLongRunTitles=13),
 Row(name='Romu N. Sippy', numOfLongRunTitles=13),
 Row(name='Venkata Subba Rao Anumolu', numOfLongRunTitles=13),
 Row(name='Kushboo', numOfLongRunTitles=13),
 Row(name='Christian Groß', numOfLongRunTitles=13),
 Row(name='Jira Maligool', numOfLongRunTitles=13),
 Row(name='M. Mani', numOfLongRunTitles=13),
 Row(name='Bellamkonda Suresh', numOfLongRunTitles=13),
 Row(name='Andrew Spires', numOfLongRunTitles=13),
 Row(name='Inga Leschek', numOfLongRunTitles=13),
 Row(name='Toshiya Kanda', numOfLongRunTitles=13),
 Row(name='E. Dubenko', numOfLongRunTitles=13),
 Row(name='Jerry Bruckheimer', numOfLongRunTitles=12),
 Row(name='Nagarjuna Akkineni', numOfLongRunTitles=12),
 Row(name='Leonid Vereshchagin', numOfLongRunTitles=12),
 Row(name='Vittorio Cecchi Gori', numOfLongRunTitles=12),
 Row(name='Mercedes Gamero', numOfLongRunTitles=12),
 Row(name='Siyad Koker', numOfLongRunTitles=12),
 Row(name='Ram Gopal Varma', numOfLongRunTitles=12),
 Row(name='N. Veeraswamy', numOfLongRunTitles=12),
 Row(name='Kazutoshi Wadakura', numOfLongRunTitles=12),
 Row(name='Richard Leyland', numOfLongRunTitles=12),
 Row(name='Rahman Ali Bugg', numOfLongRunTitles=12),
 Row(name='R. Mohan', numOfLongRunTitles=12),
 Row(name='Eleanor Shearwood', numOfLongRunTitles=12),
 Row(name='Virginia Somma', numOfLongRunTitles=12),
 Row(name='G. Suresh Kumar', numOfLongRunTitles=12),
 Row(name='Joy Thomas', numOfLongRunTitles=12),
 Row(name='Abhishek Pathak', numOfLongRunTitles=12),
 Row(name='Gokulam Gopalan', numOfLongRunTitles=12),
 Row(name='Artur Janibekyan', numOfLongRunTitles=12),
 Row(name='Kalpathi S. Ganesh', numOfLongRunTitles=12),
 Row(name='Vyacheslav Dusmukhametov', numOfLongRunTitles=12),
 Row(name='Karl E. White', numOfLongRunTitles=12),
 Row(name='Albertine Rae', numOfLongRunTitles=12),
 Row(name='Angela Alvarez Rilla', numOfLongRunTitles=12),
 Row(name='Sandesh Nagaraj', numOfLongRunTitles=12),
 Row(name='Devi Rawal', numOfLongRunTitles=12),
 Row(name='Jyoti Kapur Das', numOfLongRunTitles=12),
 Row(name='Karaj Gill', numOfLongRunTitles=12),
 Row(name='Y. Ravi Shankar', numOfLongRunTitles=12),
 Row(name='Tarak Ben Ammar', numOfLongRunTitles=11),
 Row(name='Pascal Caucheteux', numOfLongRunTitles=11),
 Row(name='Chandra Haasan', numOfLongRunTitles=11),
 Row(name='Larry Klein', numOfLongRunTitles=11),
 Row(name='Serge Lalou', numOfLongRunTitles=11),
 Row(name='K.S. Rama Rao', numOfLongRunTitles=11),
 Row(name='Scott Rudin', numOfLongRunTitles=11),
 Row(name='Austin Shaw', numOfLongRunTitles=11),
 Row(name='Ashok Thakeria', numOfLongRunTitles=11),
 Row(name='Faruk Turgut', numOfLongRunTitles=11),
 Row(name='Regina Ziegler', numOfLongRunTitles=11),
 Row(name='Ramon Salvador', numOfLongRunTitles=11),
 Row(name='Swargachitra Appachan', numOfLongRunTitles=11),
 Row(name='Aadi Sheshagiri Rao Ghattamaneni', numOfLongRunTitles=11),
 Row(name='Jayabalan Murali Manohar', numOfLongRunTitles=11),
 Row(name='V. Swaminathan', numOfLongRunTitles=11),
 Row(name='Antonio Guzman', numOfLongRunTitles=11),
 Row(name='Apoorva Mehta', numOfLongRunTitles=11),
 Row(name='Pranlal V. Mehta', numOfLongRunTitles=11),
 Row(name='Jaz Prasertlum', numOfLongRunTitles=11),
 Row(name='Milan Jaleel', numOfLongRunTitles=11),
 Row(name='Carter Pilcher', numOfLongRunTitles=11),
 Row(name='E.K. Thyagarajan', numOfLongRunTitles=11),
 Row(name='Shailendra Singh', numOfLongRunTitles=11),
 Row(name='S. Sashikanth', numOfLongRunTitles=11),
 Row(name='Himanshu Dhanuka', numOfLongRunTitles=11),
 Row(name='Bunny Vasu', numOfLongRunTitles=11),
 Row(name='Darren Boshorin', numOfLongRunTitles=11),
 Row(name='Michel Merkt', numOfLongRunTitles=11),
 Row(name='N. Subash Chandrabose', numOfLongRunTitles=11),
 Row(name='Sanjay Chhabria', numOfLongRunTitles=11),
 Row(name='C.V. Kumar', numOfLongRunTitles=11),
 Row(name='Lars Kämpgen', numOfLongRunTitles=11),
 Row(name='Jayanna', numOfLongRunTitles=11),
 Row(name='Akshay Gada', numOfLongRunTitles=11),
 Row(name='Naveen Yerneni', numOfLongRunTitles=11),
 Row(name='Lawrence Bender', numOfLongRunTitles=10),
 Row(name='Irwin Winkler', numOfLongRunTitles=10),
 Row(name='Pierre-Olivier Bardet', numOfLongRunTitles=10),
 Row(name='Kalyan C.', numOfLongRunTitles=10),
 Row(name='Barbara De Fina', numOfLongRunTitles=10),
 Row(name='Konstantin Ernst', numOfLongRunTitles=10),
 Row(name='Paul Flattery', numOfLongRunTitles=10),
 Row(name='Ratan Jain', numOfLongRunTitles=10),
 Row(name='Chihiro Kameyama', numOfLongRunTitles=10),
 Row(name='Kees Kasander', numOfLongRunTitles=10),
 Row(name='Igor Krutoy', numOfLongRunTitles=10),
 Row(name='Samuel Paul', numOfLongRunTitles=10),
 Row(name='Maggie Renzi', numOfLongRunTitles=10),
 Row(name='Tony Schiavone', numOfLongRunTitles=10),
 Row(name='Mared Parry', numOfLongRunTitles=10),
 Row(name='P. Mallikharjuna Rao', numOfLongRunTitles=10),
 Row(name='Claudia Schölzel', numOfLongRunTitles=10),
 Row(name='C. Dhandayuthapani', numOfLongRunTitles=10),
 Row(name='Lauren Burns', numOfLongRunTitles=10),
 Row(name='Sushilkumar Agrawal', numOfLongRunTitles=10),
 Row(name='Morio Amagi', numOfLongRunTitles=10),
 Row(name='Amanda Nutting', numOfLongRunTitles=10),
 Row(name='Martin Schermann', numOfLongRunTitles=10),
 Row(name='Megan Ellison', numOfLongRunTitles=10),
 Row(name='Jessie Hixenbaugh', numOfLongRunTitles=10),
 Row(name='Gopichand Achanta', numOfLongRunTitles=10),
 Row(name='Ram Achanta', numOfLongRunTitles=10),
 Row(name='Reyhan Tüysüz', numOfLongRunTitles=10),
 Row(name='Leonie Wheeler', numOfLongRunTitles=10),
 Row(name='Anna Wells', numOfLongRunTitles=10),
 Row(name='Gunbir Singh Sidhu', numOfLongRunTitles=10),
 Row(name='Bhoghendra', numOfLongRunTitles=10),
 Row(name='Monisha Advani', numOfLongRunTitles=10),
 Row(name='Amit Jumrani', numOfLongRunTitles=10),
 Row(name='Frédéric Allain', numOfLongRunTitles=10),
 Row(name='Bryan Edwards', numOfLongRunTitles=10),
 Row(name='Mukesh R. Mehta', numOfLongRunTitles=10),
 Row(name='Hiroshi Fukazawa', numOfLongRunTitles=10),
 Row(name='Stefan Arndt', numOfLongRunTitles=9),
 Row(name='Suresh Balaje', numOfLongRunTitles=9),
 Row(name='Kamal Kumar Barjatya', numOfLongRunTitles=9),
 Row(name='Ceán Chaffin', numOfLongRunTitles=9),
 Row(name='Terence Chang', numOfLongRunTitles=9),
 Row(name='Véronique Coquet', numOfLongRunTitles=9),
 Row(name='Bruce Davey', numOfLongRunTitles=9),
 Row(name='Carlo Degli Esposti', numOfLongRunTitles=9),
 Row(name='David Erskine', numOfLongRunTitles=9),
 Row(name='Wyck Godfrey', numOfLongRunTitles=9),
 Row(name='Sanping Han', numOfLongRunTitles=9),
 Row(name='Shôzô Ichiyama', numOfLongRunTitles=9),
 Row(name='Basil Iwanyk', numOfLongRunTitles=9),
 Row(name='Anurag Kashyap', numOfLongRunTitles=9),
 Row(name='Graham King', numOfLongRunTitles=9),
 Row(name='William Kong', numOfLongRunTitles=9),
 Row(name='Ariane Krampe', numOfLongRunTitles=9),
 Row(name='Krishan Kumar', numOfLongRunTitles=9),
 Row(name='Guido Lombardo', numOfLongRunTitles=9),
 Row(name='Guhan M.S.', numOfLongRunTitles=9),
 Row(name='Neal H. Moritz', numOfLongRunTitles=9),
 Row(name='Jean-Louis Remilleux', numOfLongRunTitles=9),
 Row(name='Alexander Rodnyansky', numOfLongRunTitles=9),
 Row(name='Günter Rohrbach', numOfLongRunTitles=9),
 Row(name='Ichirô Satô', numOfLongRunTitles=9),
 Row(name='Jeremy Thomas', numOfLongRunTitles=9),
 Row(name='Clayton Townsend', numOfLongRunTitles=9),
 Row(name='Neil Zeiger', numOfLongRunTitles=9),
 Row(name='C. Arunpandian', numOfLongRunTitles=9),
 Row(name='Anand Prasad V.', numOfLongRunTitles=9),
 Row(name='Chikahiro Ando', numOfLongRunTitles=9),
 Row(name='A.K. Nadiadwala', numOfLongRunTitles=9),
 Row(name='Sunil Manchanda', numOfLongRunTitles=9),
 Row(name='Jeremy Kleiner', numOfLongRunTitles=9),
 Row(name='Rangita Pritish Nandy', numOfLongRunTitles=9),
 Row(name='Ruben Dishdishyan', numOfLongRunTitles=9),
 Row(name='Ajit Kumar Barjatya', numOfLongRunTitles=9),
 Row(name='A.A. Nadiadwala', numOfLongRunTitles=9),
 Row(name='Tim Yoon', numOfLongRunTitles=9),
 Row(name='Toni Hajal', numOfLongRunTitles=9),
 Row(name='Christina Keating', numOfLongRunTitles=9),
 Row(name='Yvette Rowland', numOfLongRunTitles=9),
 Row(name='Shital Bhatia', numOfLongRunTitles=9),
 Row(name='Chenchonnee Soonthonsaratul', numOfLongRunTitles=9),
 Row(name='Prasad N.V.', numOfLongRunTitles=9),
 Row(name='Vikas Bahl', numOfLongRunTitles=9),
 Row(name='Nallamalupu Sreenivas', numOfLongRunTitles=9),
 Row(name='Jake Jecmenek', numOfLongRunTitles=9),
 Row(name='Jörg Strombach', numOfLongRunTitles=9),
 Row(name='Pritish Nandy', numOfLongRunTitles=9),
 Row(name='Kalanidhi Maran', numOfLongRunTitles=9),
 Row(name='Shaji Nadesan', numOfLongRunTitles=9),
 Row(name='P. Madan', numOfLongRunTitles=9),
 Row(name='Naoto Fujimura', numOfLongRunTitles=9),
 Row(name='Fathima Vijay Antony', numOfLongRunTitles=9),
 Row(name='Nicola Fitzgerald', numOfLongRunTitles=9),
 Row(name='R. Dushyanth Singh', numOfLongRunTitles=9),
 Row(name='Sudhan', numOfLongRunTitles=9),
 Row(name='Takanobu Kanazawa', numOfLongRunTitles=9),
 Row(name='Tomoo Ichimura', numOfLongRunTitles=9),
 Row(name='Johan Segerstedt', numOfLongRunTitles=9),
 Row(name='T.G. Vishwa Prasad', numOfLongRunTitles=9),
 Row(name='Munish Sahni', numOfLongRunTitles=9),
 Row(name='Joel Silver', numOfLongRunTitles=8),
 Row(name='Sandro Aguilar', numOfLongRunTitles=8),
 Row(name='Alain Attal', numOfLongRunTitles=8),
 Row(name='Jason Blumenthal', numOfLongRunTitles=8),
 Row(name='K.C. Bokadia', numOfLongRunTitles=8),
 Row(name='Charles Gillibert', numOfLongRunTitles=8),
 Row(name='Krishna Mohan Rao K.', numOfLongRunTitles=8),
 Row(name='Eugene Lee', numOfLongRunTitles=8),
 Row(name='Robert Lorenz', numOfLongRunTitles=8),
 Row(name='Shigeji Maeda', numOfLongRunTitles=8),
 Row(name='Anatoliy Maksimov', numOfLongRunTitles=8),
 Row(name='Nikita Mikhalkov', numOfLongRunTitles=8),
 Row(name='Tokuko Miyako', numOfLongRunTitles=8),
 Row(name='Tom Norwood', numOfLongRunTitles=8),
 Row(name='Kyôko Ôbayashi', numOfLongRunTitles=8),
 Row(name='Marc Platt', numOfLongRunTitles=8),
 Row(name='Siva Prasad Reddy', numOfLongRunTitles=8),
 Row(name='Gopala Reddy S.', numOfLongRunTitles=8),
 Row(name='Sergey Selyanov', numOfLongRunTitles=8),
 Row(name='Roberto Sessa', numOfLongRunTitles=8),
 Row(name='Dhirajlal Shah', numOfLongRunTitles=8),
 Row(name='Pravin Shah', numOfLongRunTitles=8),
 Row(name='Yukiko Shii', numOfLongRunTitles=8),
 Row(name='Yoshihiro Suzuki', numOfLongRunTitles=8),
 Row(name='Trivikrama Rao T.', numOfLongRunTitles=8),
 Row(name='James Whitbourn', numOfLongRunTitles=8),
 Row(name='John Wyver', numOfLongRunTitles=8),
 Row(name='Nitin Keni', numOfLongRunTitles=8),
 Row(name='Iqbal Dhillon', numOfLongRunTitles=8),
 Row(name='Farhan Akhtar', numOfLongRunTitles=8),
 Row(name='Laurent Fontaine', numOfLongRunTitles=8),
 Row(name='Kushaldeep Singh Juneja', numOfLongRunTitles=8),
 Row(name='R. Ravindran', numOfLongRunTitles=8),
 Row(name='K.C. Sharma', numOfLongRunTitles=8),
 Row(name='Elma S. Medua', numOfLongRunTitles=8),
 Row(name='Javier Casado', numOfLongRunTitles=8),
 Row(name='S.P.B. Charan', numOfLongRunTitles=8),
 Row(name='Ferenc van Damme', numOfLongRunTitles=8),
 Row(name='Jack Cahill', numOfLongRunTitles=8),
 Row(name='Pushpa Kandasamy', numOfLongRunTitles=8),
 Row(name='Suriya', numOfLongRunTitles=8),
 Row(name='Dhilin Mehta', numOfLongRunTitles=8),
 Row(name='G. Venugopal', numOfLongRunTitles=8),
 Row(name='Katherine Dymond', numOfLongRunTitles=8),
 Row(name='Paul Smaczny', numOfLongRunTitles=8),
 Row(name='Mikel Lejarza', numOfLongRunTitles=8),
 Row(name='Minami Ichikawa', numOfLongRunTitles=8),
 Row(name='Thenappan P.L.', numOfLongRunTitles=8),
 Row(name='José Luis Pastor', numOfLongRunTitles=8),

In [13]:
alive_producers.show(10)

+------------------+------------------+
|              name|numOfLongRunTitles|
+------------------+------------------+
|      Acun Ilicali|               241|
|     Maxwell James|               176|
|   Wade Baverstock|               143|
|     Vince McMahon|               141|
|Christopher Lockey|               114|
|      Nick Rylance|               102|
|         Efe Irvül|               102|
|      Matt Spencer|                92|
|     Claire Mooney|                90|
|       Fatih Aksoy|                87|
+------------------+------------------+
only showing top 10 rows

### Alive actors who have portrayed Jesus Christ (look for both words independently).

In [14]:
alive_members = df_members.select("nconst", "primaryName").where("deathYear == '\\\\N'")
alive_actors = df_principals.select("nconst", "tconst", "characters").where("category IN ('self', 'actor', 'actress')")\
    .where(df_principals.characters.contains('"Jesus"') | df_principals.characters.contains('"Christ"') | df_principals.characters.contains('"Jesus Christ"'))\
        .join(alive_members, 'nconst', 'inner').select('primaryName', 'characters')
output = alive_actors.collect()
output

[Row(primaryName='Ron Ferguson', characters='["Jesus"]'),
 Row(primaryName='Ron Ferguson', characters='["Jesus"]'),
 Row(primaryName='Anthony De Longis', characters='["Jesus"]'),
 Row(primaryName='Marcio Rosario', characters='["Jesus"]'),
 Row(primaryName='Mat Ranillo III', characters='["Jesus Christ"]'),
 Row(primaryName='Andreas Pietschmann', characters='["Jesus"]'),
 Row(primaryName='Matt Christi', characters='["Jesus"]'),
 Row(primaryName='Joerg Stadler', characters='["Christ"]'),
 Row(primaryName='Jesus Amole', characters='["Jesus"]'),
 Row(primaryName='Matt Edens', characters='["Jesus"]'),
 Row(primaryName='Antonino Solmer', characters='["Jesus"]'),
 Row(primaryName='John Paul Jones', characters='["Jesus"]'),
 Row(primaryName='John Paul Jones', characters='["Jesus"]'),
 Row(primaryName='Doug Bauer', characters='["Jesus"]'),
 Row(primaryName='Alain Claessens', characters='["Jesus"]'),
 Row(primaryName='Madison Mason', characters='["Jesus Christ"]'),
 Row(primaryName='Joe Sciammarella', characters='["Jesus Christ"]'),
 Row(primaryName='Mohamed Quatib', characters='["Jesus"]'),
 Row(primaryName='Carlos Gómez', characters='["Jesus"]'),
 Row(primaryName='Faizel Janmohamed', characters='["Jesus"]'),
 Row(primaryName='LeQuan Antonio Bennett', characters='["Jesus"]'),
 Row(primaryName='Andy Dick', characters='["Jesus Christ"]'),
 Row(primaryName='Andy Dick', characters='["Jesus Christ"]'),
 Row(primaryName='Jonathan Scarfe', characters='["Jesus Christ"]'),
 Row(primaryName='Alejandro Herrera Gil', characters='["Jesus"]'),
 Row(primaryName="Cael O'Connor", characters='["Jesus"]'),
 Row(primaryName='Aaron Jacques', characters='["Jesus Christ"]'),
 Row(primaryName='Austin Storms', characters='["Jesus"]'),
 Row(primaryName='Danny Arroyo', characters='["Jesus"]'),
 Row(primaryName='Danny Arroyo', characters='["Jesus"]'),
 Row(primaryName='Ted Neeley', characters='["Jesus Christ"]'),
 Row(primaryName='Matt Stone', characters='["Kyle Broflovski","Kenny McCormick","Jesus"]'),
 Row(primaryName='Matt Stone', characters='["Kyle","Kenny","Jesus"]'),
 Row(primaryName='Andrey Barilo', characters='["Jesus"]'),
 Row(primaryName='Emmy Collins', characters='["Jesus Christ"]'),
 Row(primaryName='Bruce Marchiano', characters='["Jesus"]'),
 Row(primaryName='Bruce Marchiano', characters='["Jesus"]'),
 Row(primaryName='Bruce Marchiano', characters='["Jesus"]'),
 Row(primaryName='Bruce Marchiano', characters='["Jesus"]'),
 Row(primaryName='Bruce Marchiano', characters='["Jesus"]'),
 Row(primaryName='Bruce Marchiano', characters='["Jesus"]'),
 Row(primaryName='Bruce Marchiano', characters='["Jesus","The Man","Victor"]'),
 Row(primaryName='Bruce Marchiano', characters='["Jesus"]'),
 Row(primaryName='Bruce Marchiano', characters='["Jesus"]'),
 Row(primaryName='Bruce Marchiano', characters='["The Janitor","Jesus"]'),
 Row(primaryName='Bruce Marchiano', characters='["Jesus"]'),
 Row(primaryName='Bruce Marchiano', characters='["Jesus"]'),
 Row(primaryName='Bruce Marchiano', characters='["Jesus"]'),
 Row(primaryName='Bruce Marchiano', characters='["Jesus"]'),
 Row(primaryName='Bruce Marchiano', characters='["Jesus"]'),
 Row(primaryName='Brian Groh', characters='["Jesus"]'),
 Row(primaryName='Jan Stastný', characters='["Jesus"]'),
 Row(primaryName='Hemir Valvassori', characters='["Jesus"]'),
 Row(primaryName='David Camera', characters='["Jesus"]'),
 Row(primaryName='Miguel Paneke', characters='["Jesus"]'),
 Row(primaryName='Bernhard Hoëcker', characters='["Jesus"]'),
 Row(primaryName='Sam Vincent', characters='["Jesus"]'),
 Row(primaryName='Blair Underwood', characters='["Jesus"]'),
 Row(primaryName='Daniel Freire', characters='["Jesus Christ"]'),
 Row(primaryName='Syb van der Ploeg', characters='["Jesus"]'),
 Row(primaryName='Ryan Knudson', characters='["Jesus"]'),
 Row(primaryName='Greg Apparcel', characters='["Jesus Christ"]'),
 Row(primaryName='James Lesure', characters='["Jesus Christ"]'),
 Row(primaryName='Seth MacFarlane', characters='["Jesus Christ"]'),
 Row(primaryName='Seth MacFarlane', characters='["Hermey the Elf","Jesus Christ"]'),
 Row(primaryName='Martin Starr', characters='["Jesus"]'),
 Row(primaryName='Christopher Corey Smith', characters='["Christ"]'),
 Row(primaryName='Rich Harris', characters='["Jesus Christ"]'),
 Row(primaryName='Rich Harris', characters='["Rich","God","Jesus Christ"]'),
 Row(primaryName='Joaquin Phoenix', characters='["Jesus"]'),
 Row(primaryName='Søren Østergaard', characters='["Jesus"]'),
 Row(primaryName='Leonardo Medeiros', characters='["Jesus"]'),
 Row(primaryName='Tamara Tiomkin', characters='["Christ"]'),
 Row(primaryName='Jeffery Noel Reeder', characters='["Jesus"]'),
 Row(primaryName='Diogo Morgado', characters='["Jesus"]'),
 Row(primaryName='Diogo Morgado', characters='["Jesus Christ"]'),
 Row(primaryName='Diogo Morgado', characters='["Jesus"]'),
 Row(primaryName='Diogo Morgado', characters='["Jesus"]'),
 Row(primaryName='Diogo Morgado', characters='["Jesus"]'),
 Row(primaryName='Ronnie Marmo', characters='["Jesus"]'),
 Row(primaryName='Miguel Mas', characters='["Jesus Christ"]'),
 Row(primaryName='Michael Benyaer', characters='["Ron Jeremy","Erik Estrada","Jesus Christ"]'),
 Row(primaryName='Ryan Link', characters='["Jesus"]'),
 Row(primaryName='Karl Johnson', characters='["Jesus","Abel"]'),
 Row(primaryName='Matt Hullum', characters='["Jesus"]'),
 Row(primaryName='Eric Stoltz', characters='["Jesus"]'),
 Row(primaryName='Joel West', characters='["Jesus Christ"]'),
 Row(primaryName='Roberto Herlitzka', characters='["Christ"]'),
 Row(primaryName='Matt Clarke', characters='["Jesus"]'),
 Row(primaryName='Matt Clarke', characters='["Jesus"]'),
 Row(primaryName='Matt Clarke', characters='["Jesus"]'),
 Row(primaryName='Matt Clarke', characters='["Jesus"]'),
 Row(primaryName='Matt Clarke', characters='["Jesus"]'),
 Row(primaryName='Stuart McRae', characters='["Brother","Jesus"]'),
 Row(primaryName='Stuart McRae', characters='["Jesus"]'),
 Row(primaryName='Edward de Souza', characters='["Jesus Christ"]'),
 Row(primaryName='Carsten Strauch', characters='["Renate Gott","Jesus"]'),
 Row(primaryName='Carsten Strauch', characters='["Renate Gott","Erzengel Michael","Jesus"]'),
 Row(primaryName='Jorge Diaz', characters='["Jesus"]'),
 Row(primaryName='Nathan Kotzur', characters='["Jesus"]'),
 Row(primaryName='Juan José Pinero', characters='["Jesus"]'),
 Row(primaryName='Charles P. Carr', characters='["Jesus Christ"]'),
 Row(primaryName='Christopher Ruiz', characters='["Jesus"]'),
 Row(primaryName='Martin Donovan', characters='["Jesus Christ"]'),
 Row(primaryName='Joaquim Oliveira', characters='["Jesus"]'),
 Row(primaryName='Stephen Wozniak', characters='["Jesus Christ"]'),
 Row(primaryName='Jeff Wheeler', characters='["Jesus"]'),
 Row(primaryName='Roderick Hudson', characters='["Jesus"]'),
 Row(primaryName='Ralph Fiennes', characters='["Jesus"]'),
 Row(primaryName='Mick Page', characters='["Jesus"]'),
 Row(primaryName='Tony Meyer', characters='["Jesus"]'),
 Row(primaryName='Russell Boulter', characters='["Jesus Christ","Self - Presenter & Storyteller"]'),
 Row(primaryName='Rodrigo Santoro', characters='["Jesus"]'),
 Row(primaryName='Zane Ellenwood', characters='["Nathaniel","Jesus"]'),
 Row(primaryName='Zane Ellenwood', characters='["Jesus"]'),
 Row(primaryName='Sebastian Pérez', characters='["Jesus"]'),
 Row(primaryName='Raul Ferrão', characters='["Jesus"]'),
 Row(primaryName='Wyatt Page', characters='["Christ"]'),
 Row(primaryName='Urban Bergsten', characters='["Mesmer","King","Jesus"]'),
 Row(primaryName='Stewart Lee', characters='["Self","Jesus","Pliny"]'),
 Row(primaryName='Stewart Lee', characters='["Self","Jesus","Pliny"]'),
 Row(primaryName='Stewart Lee', characters='["Self","Jesus","Pliny"]'),
 Row(primaryName='Stewart Lee', characters='["Self","Jesus","Pliny"]'),
 Row(primaryName='Stewart Lee', characters='["Self","Jesus","Pliny"]'),
 Row(primaryName='Stewart Lee', characters='["Self","Jesus","Pliny"]'),
 Row(primaryName='Stewart Lee', characters='["Self","Jesus","Pliny"]'),
 Row(primaryName='Stewart Lee', characters='["Self","Jesus","Pliny"]'),
 Row(primaryName='Stewart Lee', characters='["Self","Jesus","Pliny"]'),
 Row(primaryName='Stewart Lee', characters='["Self","Jesus","Pliny"]'),
 Row(primaryName='Stewart Lee', characters='["Self","Jesus","Pliny"]'),
 Row(primaryName='Stewart Lee', characters='["Self","Jesus","Pliny"]'),
 Row(primaryName='Stewart Lee', characters='["Self","Jesus","Pliny"]'),
 Row(primaryName='Stewart Lee', characters='["Self","Jesus","Pliny"]'),
 Row(primaryName='Stewart Lee', characters='["Self","Jesus","Pliny"]'),
 Row(primaryName='Stewart Lee', characters='["Self","Jesus","Pliny"]'),
 Row(primaryName='Stewart Lee', characters='["Self","Jesus","Pliny"]'),
 Row(primaryName='Stewart Lee', characters='["Self","Jesus","Pliny"]'),
 Row(primaryName='Stewart Lee', characters='["Jesus","Pliny","Self"]'),
 Row(primaryName='DJ Perry', characters='["Jesus"]'),
 Row(primaryName='DJ Perry', characters='["Jesus"]'),
 Row(primaryName='Eddy Asselbergs', characters='["Pedro","Jesus"]'),
 Row(primaryName='Eddy Asselbergs', characters='["Pedro","Jesus"]'),
 Row(primaryName='Eddy Asselbergs', characters='["Pedro","Jesus"]'),
 Row(primaryName='Eddy Asselbergs', characters='["Pedro","Jesus"]'),
 Row(primaryName='Eddy Asselbergs', characters='["Pedro","Jesus"]'),
 Row(primaryName='Eddy Asselbergs', characters='["Pedro","Jesus"]'),
 Row(primaryName='Eddy Asselbergs', characters='["Jesus"]'),
 Row(primaryName='Eddy Asselbergs', characters='["Jesus"]'),
 Row(primaryName='Eddy Asselbergs', characters='["Jesus","Pedro"]'),
 Row(primaryName='Antonio Jaramillo', characters='["Jesus"]'),
 Row(primaryName='Antonio Jaramillo', characters='["Jesus"]'),
 Row(primaryName='Antonio Jaramillo', characters='["Jesus"]'),
 Row(primaryName='Antonio Jaramillo', characters='["Jesus"]'),
 Row(primaryName='Tony Sagastizado I', characters='["Jesus"]'),
 Row(primaryName='Efren Ramirez', characters='["Jesus"]'),
 Row(primaryName='Allan Ralph', characters='["Jesus"]'),
 Row(primaryName='Allan Ralph', characters='["Jesus"]'),
 Row(primaryName='Allan Ralph', characters='["Jesus"]'),
 Row(primaryName='Allan Ralph', characters='["Jesus"]'),
 Row(primaryName='Allan Ralph', characters='["Jesus"]'),
 Row(primaryName='Allan Ralph', characters='["Jesus"]'),
 Row(primaryName='Allan Ralph', characters='["Jesus"]'),
 Row(primaryName='Allan Ralph', characters='["Jesus"]'),
 Row(primaryName='Allan Ralph', characters='["Jesus"]'),
 Row(primaryName='Allan Ralph', characters='["Jesus"]'),
 Row(primaryName='Allan Ralph', characters='["Jesus"]'),
 Row(primaryName='Allan Ralph', characters='["Jesus"]'),
 Row(primaryName='Allan Ralph', characters='["Jesus"]'),
 Row(primaryName='Allan Ralph', characters='["Jesus"]'),
 Row(primaryName='Allan Ralph', characters='["Jesus"]'),
 Row(primaryName='Allan Ralph', characters='["Jesus"]'),
 Row(primaryName='Allan Ralph', characters='["Jesus"]'),
 Row(primaryName='Allan Ralph', characters='["Jesus"]'),
 Row(primaryName='Allan Ralph', characters='["Jesus"]'),
 Row(primaryName='Allan Ralph', characters='["Jesus"]'),
 Row(primaryName='Allan Ralph', characters='["Jesus"]'),
 Row(primaryName='Allan Ralph', characters='["Jesus"]'),
 Row(primaryName='Allan Ralph', characters='["Jesus"]'),
 Row(primaryName='Allan Ralph', characters='["Jesus"]'),
 Row(primaryName='Allan Ralph', characters='["Jesus"]'),
 Row(primaryName='Allan Ralph', characters='["Jesus"]'),
 Row(primaryName='Allan Ralph', characters='["Jesus"]'),
 Row(primaryName='Allan Ralph', characters='["Jesus"]'),
 Row(primaryName='Allan Ralph', characters='["Jesus"]'),
 Row(primaryName='Allan Ralph', characters='["Jesus"]'),
 Row(primaryName='Mark Deakins', characters='["Jesus Christ"]'),
 Row(primaryName='Keith Lewis', characters='["Jesus"]'),
 Row(primaryName='Keith Lewis', characters='["Jesus"]'),
 Row(primaryName='Didier Léon', characters='["Jesus"]'),
 Row(primaryName='Nicholas Rogers', characters='["Jesus"]'),
 Row(primaryName='Mark Weiler', characters='["Jesus Christ"]'),
 Row(primaryName='Dennis Christopher', characters='["Jesus"]'),
 Row(primaryName='Maddi Roy', characters='["Mike Feces","Jesus","Brenda"]'),
 Row(primaryName='Antonio Mendoza', characters='["Jesus"]'),
 Row(primaryName='Caleb Alvarado', characters='["Jesus"]'),
 Row(primaryName='Brad Jones', characters='["Jesus"]'),
 Row(primaryName='William Christopher Ford', characters='["Jesus"]'),
 Row(primaryName='Fred Armisen', characters='["Jesus"]'),
 Row(primaryName='Fred Armisen', characters='["Jesus"]'),
 Row(primaryName='Fred Armisen', characters='["Jesus"]'),
 Row(primaryName='Fred Armisen', characters='["Jesus"]'),
 Row(primaryName='Mo Gallini', characters='["Jesus"]'),
 Row(primaryName='Victor Rangel', characters='["Jesus"]'),
 Row(primaryName='Patrick Cupo', characters='["Jesus"]'),
 Row(primaryName='Tamás Széles', characters='["Jesus"]'),
 Row(primaryName='Matt Spease', characters='["Detective Blake Armstrong","Jesus Christ","Lee Christopher"]'),
 Row(primaryName='Mark Borchardt', characters='["Jesus"]'),
 Row(primaryName='Robert Powell', characters='["Jesus"]'),
 Row(primaryName='Robert Powell', characters='["Jesus"]'),
 Row(primaryName='Robert Powell', characters='["Jesus"]'),
 Row(primaryName='Robert Powell', characters='["Jesus"]'),
 Row(primaryName='Robert Powell', characters='["Jesus"]'),
 Row(primaryName='Ryan Harrison', characters='["Jesus"]'),
 Row(primaryName='Finn Tavbe', characters='["Jesus"]'),
 Row(primaryName='David Birkin', characters='["Jesus"]'),
 Row(primaryName='Larry Salberg', characters='["Jesus Christ"]'),
 Row(primaryName='Knud Erik Arvel', characters='["Jesus"]'),
 Row(primaryName='Danny Varghese', characters='["Jesus"]'),
 Row(primaryName='Danny Varghese', characters='["Jesus"]'),
 Row(primaryName='Danny Varghese', characters='["Jesus"]'),
 Row(primaryName='Danny Varghese', characters='["Jesus"]'),
 Row(primaryName='Danny Varghese', characters='["Jesus"]'),
 Row(primaryName='Danny Varghese', characters='["Jesus"]'),
 Row(primaryName='Danny Varghese', characters='["Jesus"]'),
 Row(primaryName='Danny Varghese', characters='["Jesus"]'),
 Row(primaryName='Danny Varghese', characters='["Jesus","Preacher"]'),
 Row(primaryName='José Garcia', characters='["Jesus"]'),
 Row(primaryName="Conan O'Brien", characters='["Self - Host","Jesus"]'),
 Row(primaryName='Jeff Rechner', characters='["Jesus Christ"]'),
 Row(primaryName='Jacob Vargas', characters='["Jesus"]'),
 Row(primaryName='Marc Bober', characters='["Jesus"]'),
 Row(primaryName='Marc Bober', characters='["Jesus"]'),
 Row(primaryName='Marc Bober', characters='["Jesus"]'),
 Row(primaryName='Marc Bober', characters='["Jesus"]'),
 Row(primaryName='Marc Bober', characters='["Jesus"]'),
 Row(primaryName='Shimpal Lelisi', characters='["Valea Pepelo","Jesus","Rex Ruka"]'),
 Row(primaryName='Shimpal Lelisi', characters='["Valea Pepelo","Jesus","Rex Ruka"]'),
 Row(primaryName='Shimpal Lelisi', characters='["Valea Pepelo","Jesus","Rex Ruka"]'),
 Row(primaryName='Shimpal Lelisi', characters='["Valea Pepelo","Jesus","Rex Ruka"]'),
 Row(primaryName='Shimpal Lelisi', characters='["Valea Pepelo","Jesus","Rex Ruka"]'),
 Row(primaryName='Shimpal Lelisi', characters='["Valea Pepelo","Jesus","Rex Ruka"]'),
 Row(primaryName='Shimpal Lelisi', characters='["Valea Pepelo","Jesus","Rex Ruka"]'),
 Row(primaryName='Shimpal Lelisi', characters='["Valea Pepelo","Jesus","Rex Ruka"]'),
 Row(primaryName='Shimpal Lelisi', characters='["Valea Pepelo","Jesus","Rex Ruka"]'),
 Row(primaryName='Shimpal Lelisi', characters='["Valea Pepelo","Jesus","Rex Ruka"]'),
 Row(primaryName='Shimpal Lelisi', characters='["Valea Pepelo","Jesus","Rex Ruka"]'),
 Row(primaryName='Shimpal Lelisi', characters='["Valea Pepelo","Jesus","Additional Voices"]'),
 Row(primaryName='Shimpal Lelisi', characters='["Valea Pepelo","Jesus","Additional Voices"]'),
 Row(primaryName='Shimpal Lelisi', characters='["Valea Pepelo","Jesus","Additional Voices"]'),
 Row(primaryName='Shimpal Lelisi', characters='["Valea Pepelo","Jesus","Additional Voices"]'),
 Row(primaryName='Shimpal Lelisi', characters='["Valea Pepelo","Jesus","Rex Ruka"]'),
 Row(primaryName='Shimpal Lelisi', characters='["Valea Pepelo","Jesus","Rex Ruka"]'),
 Row(primaryName='Shimpal Lelisi', characters='["Valea Pepelo","Jesus","Rex Ruka"]'),
 Row(primaryName='Shimpal Lelisi', characters='["Valea Pepelo","Jesus","Minister"]'),
 Row(primaryName='Shimpal Lelisi', characters='["Valea Pepelo","Jesus","Additional Voices"]'),
 Row(primaryName='Shimpal Lelisi', characters='["Valea Pepelo","Jesus","Rex Ruka"]'),
 Row(primaryName='Shimpal Lelisi', characters='["Valea Pepelo","Jesus","Additional Voices"]'),
 Row(primaryName='Shimpal Lelisi', characters='["Valea Pepelo","Jesus","Rex Ruka"]'),
 Row(primaryName='Shimpal Lelisi', characters='["Valea Pepelo","Jesus","Additional Voices"]'),
 Row(primaryName='William Row', characters='["Jesus"]'),
 Row(primaryName='Orran Farmer', characters='["Christ"]'),
 Row(primaryName='Jason DeStefano', characters='["Jesus","Satan","Angel from Heaven"]'),
 Row(primaryName='Jason DeStefano', characters='["Angel from Heaven","Jesus","Satan"]'),
 Row(primaryName='Marco Di Stefano', characters='["Jesus"]'),
 Row(primaryName='Darren Morfitt', characters='["Jesus"]'),
 Row(primaryName='Andrew Huff', characters='["Jesus"]'),
 Row(primaryName='G. James Berigan', characters='["Psychiatrist","Jesus","Satan"]'),
 Row(primaryName='Aparajita Dey', characters='["Jesus Christ"]'),
 Row(primaryName='Kevin Gallagher', characters='["Jesus"]'),
 Row(primaryName='Kevin Gallagher', characters='["Jesus"]'),
 Row(primaryName='Kevin Gallagher', characters='["Jesus"]'),
 Row(primaryName='Kevin Gallagher', characters='["Jesus"]'),
 Row(primaryName='Kevin Gallagher', characters='["Jesus"]'),
 Row(primaryName='George Calil', characters='["Jesus"]'),
 Row(primaryName='Ned Dennehy', characters='["Homeless Man","Jesus"]'),
 Row(primaryName='Tom Beyer', characters='["Jesus"]'),
 Row(primaryName='Lorenzo Peccini', characters='["Jesus"]'),
 Row(primaryName='Theodor Burghardt', characters='["Jesus"]'),
 Row(primaryName='Jonathan Walker', characters='["Jesus Christ"]'),
 Row(primaryName='Rory Albanese', characters='["Jesus"]'),
 Row(primaryName='Ruben Rabasa', characters='["Jesus"]'),
 Row(primaryName='Jsu Garcia', characters='["Jesus"]'),
 Row(primaryName='Julian Weigend', characters='["Jesus"]'),
 Row(primaryName='John Kay Steel', characters='["Jesus"]'),
 Row(primaryName='John Kay Steel', characters='["Jesus"]'),
 Row(primaryName='Jonathan Roumie', characters='["Jesus"]'),
 Row(primaryName='Jonathan Roumie', characters='["Jesus"]'),
 Row(primaryName='Jonathan Roumie', characters='["Jesus"]'),
 Row(primaryName='Jonathan Roumie', characters='["Jesus"]'),
 Row(primaryName='Jonathan Roumie', characters='["Jesus"]'),
 Row(primaryName='Jonathan Roumie', characters='["Jesus"]'),
 Row(primaryName='Jonathan Roumie', characters='["Jesus"]'),
 Row(primaryName='Jonathan Roumie', characters='["Jesus"]'),
 Row(primaryName='Jonathan Roumie', characters='["Jesus"]'),
 Row(primaryName='Jonathan Roumie', characters='["Jesus"]'),
 Row(primaryName='Jonathan Roumie', characters='["Jesus"]'),
 Row(primaryName='Jonathan Roumie', characters='["Jesus"]'),
 Row(primaryName='Jonathan Roumie', characters='["Jesus"]'),
 Row(primaryName='Jonathan Roumie', characters='["Jesus"]'),
 Row(primaryName='Jonathan Roumie', characters='["Jesus"]'),
 Row(primaryName='Jonathan Roumie', characters='["Jesus"]'),
 Row(primaryName='Jonathan Roumie', characters='["Jesus"]'),
 Row(primaryName='Gabriel Gonzalez', characters='["Jesus"]'),
 Row(primaryName='Jean-Claude La Marre', characters='["Jesus Christ"]'),
 Row(primaryName='David Dyno Rocha', characters='["Jesus"]'),
 Row(primaryName='Leonardo Defilippis', characters='["Jesus"]'),
 Row(primaryName='Leonardo Defilippis', characters='["Jesus"]'),
 Row(primaryName='Josh Gaffga', characters='["Jesus"]'),

In [15]:
alive_actors.show(10)

+-------------------+----------------+
|        primaryName|      characters|
+-------------------+----------------+
|       Ron Ferguson|       ["Jesus"]|
|       Ron Ferguson|       ["Jesus"]|
|  Anthony De Longis|       ["Jesus"]|
|     Marcio Rosario|       ["Jesus"]|
|    Mat Ranillo III|["Jesus Christ"]|
|Andreas Pietschmann|       ["Jesus"]|
|       Matt Christi|       ["Jesus"]|
|      Joerg Stadler|      ["Christ"]|
|        Jesus Amole|       ["Jesus"]|
|         Matt Edens|       ["Jesus"]|
+-------------------+----------------+
only showing top 10 rows